<body>
    <main>
        <!-- your main page content here -->
    </main>

    <footer>
        <div class="f-info">
            <div class="icons">
                <a href="https://x.com/12_Ruchikayadav"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://www.instagram.com/ruch.ika4846?igsh=MWg2aW51NmRjanFhYg=="><i class="fa-brands fa-square-instagram"></i></a>
                <a href="https://www.linkedin.com/in/ruchika-yadav-228b1922b/"><i class="fa-brands fa-linkedin"></i></a>
                <a href="https://github.com/ruchika123yadav"><i class="fa-brands fa-github"></i></a>
            </div>

            <div class="company-name">&copy;TranquilStay Private Limited</div>
            <div class="f-info-links">
                <a href="Privacy">privacy</a>
                <a href="Terms">Terms</a>
            </div>
        </div>
    </footer>
</body>
