<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TranquilStay</title>
</head>

<body>
    <h2>Here is all listings</h2>
    <form method="get" action="/listing/new">
        <button>Add new Listing</button>
    </form>
    <br><br>
    <u>
        <%for(listing of allListings){%>
            <li><a href="/listing/<%=listing._id%>">
                    <%=listing.title%>
                </a></li>
            <%}%>
    </u>
</body>

</html>