<% layout('layouts/boilerplate') -%>


<!-- ishme hamne form label class di hai har label ko -->
 <!-- or form control class di hai har input  or textarea ko -->
  <!-- jisse ushpr bootstrap ki styling lag jaye -->

<body>
    <div class="row">
        <div class="col-8 offset-2">

    <h2>Fill the Information</h2>
 <form method="post" action="/listings">
     
    <div>
    <label for="title" class="form-label">Title</label>
   <input type="text" class="form-control" placeholder="Enter the title" name="listing[title]">
   </div><br>
   
   <div>
    <label for="decription" class="form-label">Description</label>
   <textarea class="form-control" type="text" placeholder="Enter the decription" name="listing[decription]"></textarea>
   </div><br>

   <div>
    <label for="image" class="form-label">Image Link</label>
   <input type="text" class="form-control" placeholder="enter url/link" name="listing[image]">
   </div><br>
   
<div class="row"> 
   <div class="col-md-3">
    <label for="price" class="form-label">Price</label>
   <input type="number" class="form-control" placeholder="Enter price" name="listing[price]">
   </div><br>
   
   <div class="col-md-8">
    <label for="country" class="form-label">Country Name</label>
   <input type="text" class="form-control" placeholder="Enter the country" name="listing[country]">
   </div><br>
</div>

   <div>
    <label for="location" class="form-label">Location</label>
   <input type="text" class="form-control" placeholder="Enter location" name="listing[location]">
   </div><br>  
   
  
<button class="btn btn-primary" style="background-color: #fe4248; width:5rem;">Add</button>

 </form>
</div>
</div>
</body>
 