<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TranquilStay</title>
</head>
<body>
    <h2>Fill the Information</h2>
 <form method="post" action="/listings">
   <input type="text" placeholder="Enter the title" name="listing[title]"><br><br>
   <textarea type="text" placeholder="Enter the decription" name="listing[decription]"></textarea><br><br>
   <input type="text" placeholder="enter url/link" name="listing[image]"><br><br>
   <input type="number" placeholder="Enter price" name="listing[price]"><br><br>
   <input type="text" placeholder="Enter location" name="listing[location]"><br><br>
   <input type="text" placeholder="Enter the country" name="listing[country]">
<br><br>
<button>Add</button>
 </form>

</body>
</html>