

body {
     font-family: "Montserrat", sans-serif !important;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container{
    flex: 1;
}

.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: #fe4248;
}

.nav-item {
    font-weight: 600;
}

/* *******FOOTER********** */

footer {
    height: 8rem;
    padding: 10px;
    background-color: #222222;
    color: aliceblue;
     
}

.f-info-links a {
     text-decoration: none;
     color: inherit;

}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    align-items: space-evenly;
    justify-content: center;
}

.icons {
    width: 100%;
    height: 2rem;
    font-size: large;
}

.company-name {
    width: 100%;
    height: 2rem;
}

/* CARD */

.listing-card{
    border: none !important;
    margin-bottom: 2rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.listing-card:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
    height: 18rem !important;
}

.card-body{
    padding: 0px;
}

.card-text{
    font-weight: 400;
}

.click_link{
    text-decoration: none;
    display: block;
    color: inherit;
}
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    background-color: white;
    opacity: 0.2;
}



.me{
    color: red;
}

.btns{
    display: flex;
}

/* REVIEW CARDS */

.review-card {
    background-color: #eef6fb !important;  /* 👈 soft blue tint */
    border: none;
    border-radius: 1rem;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease;
  }
  
  
  
  .profile-icon {
    background-color: #343a40;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
  }
  
  .review-comment {
    font-style: italic;
    color: #6c757d;
  }
  
  .rating-badge {
    background-color: #ffc107;
    color: #212529;
    padding: 5px 10px;
    border-radius: 8px;
    font-weight: 600;
  }
  